.loginForm{
    text-align: center;
}

.email{
    margin-bottom: 10px;
    margin-left: 23px;
}

.password{
    margin-left: 10px;
}

.submit{
    margin-top: 10px;
    border-radius: 6px 6px 6px 6px;
    font-size: medium;
}

.submit:hover{
    background-color: rgb(228, 221, 221);
}