#navbar {
  width: 800px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px 5px;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  place-self: center;
  place-items: center;
  justify-content: center;
  text-decoration: none;
}
.regisForm {
  display: grid;
  align-items: center;
  justify-content: center;
}
.regisBtn {
  margin-top: 25px;
}
